<%- include("header") -%>

<div class="about">
    <h2>About this To-Do App:</h2>
    
    <p>The original design & concept of this website is from <a href="https://www.udemy.com/share/1013gGBkoZeVZTRHo=/" target="_blank">Angela Yu's Web Developer Bootcamp on Udemy</a> but has been modified with additional features by Stacy Garrett of Three Winks Studio.</p>
</div>

<%- include("footer") -%>

