

</body>

<footer>

    
    <div><a href="/about" style="cursor: default;" class="footer-text">
      <div>Copyright ©2020<div>
        <small class="small-footer">(original design & concept: The App Brewery)</a></small>
    </div>
   
</footer>

</html>
