html {
	background-color: #e4e9fd;
	/* background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%); */
	background-image: -webkit-linear-gradient(65deg, #14b1c2, #e5fbfe 80%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 1000px;
	font-family: 'helvetica neue';
	height: 100vh;
}

h1 {
	color: #fff;
	padding: 5px;
	margin: 0;
}

h2 {
	color: rgb(101, 101, 101);
	padding: 10px;
	margin: 0;
	text-align: center;
}

.container-all {
	display: flex;
	justify-content: center;
	margin-top: -40px;
}

.box-categories {
	margin-top: 50px;
	margin-left: 30px;
	width: 250px;
	max-height: 500px;
	border-radius: 5px;
	background-color: #ccfaff;
	overflow: hidden;
	overflow-y: scroll;
}

.about-p {
	text-align: center;
}

.box {
	max-width: 600px;
	margin: 50px auto;
	background: white;
	border-radius: 5px;
	max-height: 500px;
	overflow: hidden;
	overflow-y: scroll;
}

#heading {
	background-color: #22cbdd;
	text-align: center;
}

.heading-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}
.header {
	margin: auto;
}

.delete-X > h3 {
	color: #7c979a95;
	cursor: pointer;
	margin: 0 auto;
}

.delete-X {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 90px;
	height: 70px;
	background-color: #29c2d3;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	border-radius: 0 5px 5px 0;
	color: #a9eff795;
}

.delete-X:hover > h3 {
	display: none;
}

button.delete {
	border: none;
}

.delete-list-btn {
	display: none;
	position: relative;
	left: -62px;
	background-color: #29c2d3;
	border-radius: 0 5px 5px 0;
	height: 70px;
	font-size: 1.2rem;
	color: #3a9ba5;
	padding: 10px 40px;
}

.delete-X:hover .delete-list-btn {
	display: block;
	transition: all 300ms;
	transition-timing-function: ease-in;
}

.logo {
	display: block;
	margin: 50px auto -20px;
}

.box-shadow {
	box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.3);
}

.shadow-logo {
	-webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .15));
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .15));
}

.item {
	min-height: 70px;
	min-width: 400px;
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
	cursor: pointer;
	border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
	border-bottom: 0;
}

input:checked + p {
	text-decoration: line-through;
	text-decoration-color: #22cbdd;
}

input[type="checkbox"] {
	margin: 20px;
}

p {
	margin: 0;
	padding: 20px;
	font-size: 20px;
	font-weight: 200;
	color: #656565;
}

form.item {
	text-align: center;
}

button.plus {
	min-height: 50px;
	width: 50px;
	border-radius: 50%/50%;
	border-color: transparent;
	background-color: #22cbdd;
	color: #fff;
	font-size: 30px;
	padding-bottom: 6px;
	border-width: 0;
	margin: 0 20px;
}

button:focus {
	outline-width: .5px;
	outline-color: #90f0fa;
}

input[type="text"] {
	text-align: center;
	height: 60px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 200;
	width: 313px;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #22cbdd;
}

::placeholder {
	color: grey;
	opacity: 1;
}

footer {
	color: white;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-top: 20px;
	font-weight: 200;
	letter-spacing: 1px;
}

.footer-text {
	bottom: 40px;
	color: #fff;
	font-size: 1rem;
}

.small-text {
	font-size: .5rem;
}

.box.list-title {
	background: rgba(255, 255, 255, 0.522);
	margin-bottom: 0;
}

.page-btn {
	background-color: #ccfaff;
	border: none;
	display: flex;
	margin: 0 auto;
	padding-left: 50px;
	text-align: center;
	font-family: inherit;
	font-size: 18px;
	font-weight: 200;
	color: rgb(101, 101, 101);
	width: 250px;
	height: 71px;
}

.cat-box {
	border-top: .5px solid #d5d5d5;
}

.cat-list-wrapper:hover,
.cat-box:hover {
	background-color: #9cf5ff;
}

a {
	text-decoration: none;
	color: rgb(101, 101, 101);
}

.page-status {
	background-color: #46dff0;
}

input[type="text"].new-cat {
	text-align: center;
	height: 68px;
	border: none;
	font-size: 20px;
	font-weight: 200;
	color: rgb(101, 101, 101);
	width: 200px;
}

input[type="text"]:focus {
	outline: none;
	box-shadow: inset 0 -3px 0 0 #22cbdd;
}

button.new-cat-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #66ecfa;
	margin-left: -20px;
	color: #fff;
	border-radius: 50%/50%;
	height: 40px;
	width: 40px;
	border: none;
	font-size: 26px;
	padding-bottom: 6px;
	border-width: 0;
	margin: 15px 5px 5px -5px;
}

.add-new-list {
	display: flex;
}

/******** About Page *********/
.about {
	display: flex;
	flex-direction: column;
	width: 600px;
	text-align: center;
	margin: 50px auto;
	font-family: inherit;
	line-height: 1.75rem;
	color: #2f2f2f;
}

@media only screen and (max-width: 700px) {
	.container-all {
		display: flex;
		flex-direction: column;
	}
	.container-right {
		display: flex;
		justify-content: center;
		margin-top: -60px;
		margin-bottom: 20px;
	}
	.box {
		max-width: 500px;
	}
	.item {
		justify-content: start;
	}
	input[type="text"] {
		width: 513px;
	}
	.add-new-list {
		justify-content: space-between;
		margin-right: 10px;
	}

	.box-categories,
	.cat-box {
		max-width: 400px;
	}
}

@media only screen and (max-width: 600px) {
	button.plus {
		min-height: 45px;
		margin-left: 0px;
	}
}

@media only screen and (max-width: 500px) {
	html {
		background-image: -webkit-linear-gradient(65deg, #14b1c2, #e5fbfe 95%);
	}
	.logo {
		margin: 30px auto 0;
	}
	.box {
		margin-top: 30px;
		max-width: 85%;
	}
	.item {
		height: 50px;
		min-width: unset;
	}
	h1,
	h3 {
		font-size: 25px;
	}

	.heading-wrapper,
	.delete-X,
	.delete-list-btn {
		height: 50px;
	}
	.delete-X {
		width: 50px;
		margin-left: unset;
	}
	.delete-list-btn {
		font-size: 0.9rem;
	}

	p,
	input[type="text"] {
		font-size: 18px;
		width: 250px;
		margin: 0px;
	}
	button.plus {
		min-height: 50px;
		margin-left: 5%;
		margin-right: 2%;
	}
	form.item {
		width: 100%;
	}
	.container-right {
		max-width: 90%;
	}
	input[type="text"].new-cat {
		width: 185px;
	}
	button.new-cat-submit {
		margin-right: unset;
	}
	.page-btn {
		padding-left: 0;
	}
	.cat-box {
		max-width: 300px;
	}
}

@media only screen and (max-width: 400px) {
	input[type="text"] {
		max-width: 170px;
	}
	p,
	input[type="text"] {
		font-size: 16px;
		padding: 5px;
	}
	.page-btn,
	.add-new-list,
	input[type="text"].new-cat {
		height: 55px;
	}
	button.new-cat-submit {
		margin: auto;
	}
	input[type="text"].new-cat {
		font-size: 18px;
	}
}
